.App {
    background-color: #082032;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: .9rem;
}

.navbar {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #334756;
    font-size: .8rem;
}
.navbar--header {
    flex:1;
    text-align: left;
    margin-left: 1.5rem;
    font-weight: 700;
}
.navbar--login {
    flex:1;
    text-align: center;
    font-weight: 500;
    font-size: .8rem;
    color: #082032;
}
.navbar--project-name {
    flex:1;
    text-align: right;
    margin-right: 1.5rem;
    font-size: .7rem;
    font-weight: 600;
}

.footer {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #334756;
    font-size: .7rem;
}
.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-icon-span {
    padding: 5px;
}
.footer-icon-span:hover {
    color: #FF4C29;
}
.footer-icon-separator{
    color: #FF4C29;

}

.todo {
    min-height: calc(100vh - 40px - 35px);
}

.container {
    width:50vh;
    max-width: 600px;
    min-width: 500px;
    margin-top: 5vh;
    background-color: #2C394B;
    border-radius: 10px;
    box-shadow: 0 3px 10px 0 rgb(0 0 0 /0.5);
}

ion-icon {
    font-size: 18px;
}

ion-icon-8 {
    font-size: 8px;
}

.header {
    margin-top: 1.5rem;
    font-size: 1.1rem;
    font-weight: 700;
}

.form--div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
.form-input {
    display: flex;
    align-items: center;
    margin: 1rem;
    padding: 0.5rem;
    flex-wrap: wrap;
    font-size: .9rem;
}
.form-input--task {
    padding: 4px 8px;
    /* padding: 3px 10px 3px 10px; */
    border-radius: 6px 0 0 6px;
    border: none;
}
.form-input--submit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    border-radius: 0px 6px 6px 0;
    border: none;
    color: white;
    font-weight: 700;
    background-color: #FF4C29;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    /* display: flex;
    padding: 2px;
    background-color: #FF4C29;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.5s;
    border-radius: 0 6px 6px 0;
    border-left: 0; */

}
.form-input--submit:hover {
    background-color: white;
    color: #FF4C29;
    /* border: 1px solid #FF4C29; */
}

.form-filter {
    display: flex;
    align-items: center;
    margin: 1rem;
    padding: 0.5rem;
}
.form-filter--relative {
    position: relative;
    overflow: hidden;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
}
.form-filter--type {
    padding: 4px 8px;
}
select {
    /* color: #FF4C29; */
    cursor: pointer;
    width: 10rem;
    border-radius: 6px;
}
.form-filter--relative::after {
    content: "\25BC";
    padding: 4px 8px;
    font-size: .8rem;
    position: absolute;
    top: 0;
    right: 0;
    background: #FF4C29;
    cursor: pointer;
    pointer-events: none;
    border-radius: 0 6px 6px 0;
}

.task-list {
    margin-top: 1rem;
}

.task-list--list{
    display: flex;
    flex-direction: column;
    margin: 5px 1rem;
    flex-wrap: wrap;
}
.task-list--item {
    display: flex;
    margin: 5px;
}
.task-list--item:hover {
    background: #334756;
    border-radius: 8px;
}
.padding-5px {
    padding: 5px;
}
.color-red {
    color: red;
}
.text {
    flex: 1;
    text-align: left;
}
.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
.action-btn {
    cursor: pointer;
    transition: all 0.5s;
}
.action-btn:hover {
    color: #FF4C29;
    scale: 1.1;
}

.margin-bottom-3r {
    margin-bottom: 3rem;
}